body {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 100;
    
    background: linear-gradient(120deg, rgb(0, 128, 11), rgb(38, 0, 255));
    background-size: 400% 400%;
    
    animation: gradShift 20s ease infinite;
}

dialog {
    opacity: 80%;
    width: min(80vh, 90vw);
    height: min(80vh, 90vw);
}

#title, #devs, #description{
    background-color: rgb(110, 164, 211);
}

.img-button {
    width: 45%;
    height: auto;
}

.buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.rulesBox {
    border-radius: 10px;
    background-color: #FFB343;
}

#example-box {
    display: flex;
}

#example-box table td {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    padding: 0;
    margin: 0;
    line-height: 0;
}

#example-box table td img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#RulesD p img {
    height: 3em;
    width: auto;
    vertical-align: middle;
}

.rulesBox::backdrop {
    background: rgba(0, 0, 0, 0.6);
    transition: background 0.3s ease;
}

@keyframes gradShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
