body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
#playSpace{
    width: min(80vh, 90vw);
    aspect-ratio: 1/1;
    background-color: aqua;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80vw;
    height: 80vh;
}
td {
    width: 40px;
    height: 40px;
    border: 1px solid #888;
    text-align: center;
    vertical-align: middle;
    transition: background 0.3s, transform 0.3s;
}
.filled {
    background: cornflowerblue;
    color: white;
}